{%load static %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/bootstrap.css' %}"
    />

<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="fs-3 navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" width="50" height="40" alt="" class="d-inline-block"> E-Person</a>
  </div>
    <div class="fs-3 position-relative position-absolute top-25 start-50 translate-middle-x">
          <div class="navbar-nav">
        <a class="nav-link" href="../add">Add</a>
        <a class="nav-link" href="../view">View</a>
              {% if user.is_authenticated %}
        <a class="nav-link" href="logout">Logout</a>
              {% else %}
        <a class="nav-link" href="../login">Login</a>
              {% endif %}
              {% if user.is_superuser %}
        <a class="nav-link" href="../admin" target="_blank">Panel</a>
              {% endif %}
      </div>
    </div>
</nav>
<div class="wrapper position-fixed top-60 start-50 translate-middle-x mt-50" >
    <div class="cointainer mb-3 mt-4">
    {% if user.is_authenticated or login_page %}
    {% block content %}
    {% endblock %}
    {% else %}
    <p style="color:red">This view is only allowed for registered users</p>
    {% endif %}
    </div>
</div>
</body>