{% extends 'index.html' %}
{% block content %}
<title>Login</title>
<form method="POST" action="">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username..." class="form-control">
	<div class="input-group mb-2">
		<input type="password" name="password" placeholder="Password..." class="form-control" >
	</div>
	<input class="btn btn-primary" type="submit" value="Login">
</form>
{% for message in messages %}
<p id="messages">{{message}}</p>
{% endfor %}
{% endblock %}