{% extends 'index.html' %}
{% block content %}
<head>
<title>Add person</title>
    <script>
        let names = ['Adam','Karol','Krystian','Ewelina','Anna','Marek','Tadeusz','Aleksandra','Beata','Adrian','Jacek','Michał','Dagmara','Katarzyna','Wojciech','Dominik','Albert']
        let surnames = ['Adamowicz','Nowak','Maciejewicz','Żak','Tomczak','Dudek','Urbaniak','Pająk','Gajda','Mikołajczyk','Bednarczyk','Kozioł','Klimek']

        function getRnd(min, max) {
         min = Math.ceil(min);
         max = Math.floor(max);
         return Math.floor(Math.random() * (max - min + 1) + min);
        }

        function fill(){
            document.getElementById('id_name').value = names[getRnd(0,16)];
            document.getElementById('id_surname').value = surnames[getRnd(0,12)];
            day = getRnd(1,30).toString();
            if(day.length == 1)
                day = '0' + day;
            month = getRnd(1,12).toString();
            if(month.length == 1)
                month = '0' + month;
            year = getRnd(1950,2015).toString();
            document.getElementById('id_birthdate').value = day+'.'+month+'.'+year;
            document.getElementById('id_pesel').value = year.substring(2,4)+month+day+getRnd(10000,99999);
        }
    </script>
</head>
<div class="cointainer mb-3 mt-4">
<form method='POST' id="personForm" data-cities-url="{% url 'load_cities' %}">{% csrf_token %}
    <div class="col-sm-5">
    {{ form.as_p}}
    </div>
    <br>
    <input type='submit' class="btn btn-primary" value="Save"/>
    <button type="button" class="btn btn-primary" href="#" onClick="fill()">Random</button>
    <input type='reset' class="btn btn-primary" value="Clear"/>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_voivodeship").change(function () {
        const url = $("#personForm").attr("data-cities-url");
        const voivodeshipId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'voivodeship_id': voivodeshipId
            },
            success: function (data) {
                $("#id_city").html(data);
                }
        });
    });
</script>
{% endblock %}
