{% extends 'index.html' %}
{% block content %}
<head>
<title>Welcome</title>
</head>
<div class="cointainer mb-3 mt-4">
    <p class="h4"><em>Welcome to the site </em><b>{{ user.username }}</b></p>
</div>
{% endblock %}