{% extends 'index.html' %}
{% block content %}
<head>
<title>Persons view</title>
</head>
<div class="cointainer mb-3 mt-4">
    <table class="table table-striped table-bordered" id="persontable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Birthdate</th>
            <th>Voivodeship</th>
            <th>City</th>
            <th>Pesel</th>
            {% if user.is_superuser %}
            <th></th>
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for person in object_list %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.surname }}</td>
            <td>{{ person.birthdate }}</td>
            <td>{{ person.voivodeship }}</td>
            <td>{{ person.city }}</td>
            <td>{{ person.pesel }}</td>
            {% if user.is_superuser %}
            <td><a href="{{person.id}}">Edit</a></td>
            <td><a href="../admin/app/person/{{person.id}}/delete" target="_blank">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-primary" onClick="window.location.reload();">Refresh</button>
{% endblock %}